@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --background-color: #000;
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

@layer base {
  h1 {
    @apply text-4xl lg:text-6xl font-black;
  }
  h2 {
    @apply text-2xl lg:text-3xl font-bold;
  }
  h3 {
    @apply text-xl lg:text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  h5 {
    @apply text-lg font-bold;
  }
}
